@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez:ital@0;1&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: navy;
}
.formpage{
    background-image: url(gambar/HD\ wallpaper_\ Astronaut\ wallpaper\,\ planet\,\ space\,\ space\ art\,\ digital\ art\,\ astronomy.jpg);
    background-repeat: no-repeat;
    height: 1000px;
    background-size: cover;
}

h1{
   color: white;
   font-size: 30px;
   font-family: 'Fascinate', cursive;
}
h2{
    color: white;
}
h3{
    color: white;
    font-size: 60px;
    font-family: 'Fascinate', cursive;
}
.logo{
    padding-right: 600px;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    align-items: left;
    flex-direction: row;
     justify-content:space-around; 
    background-color: rgba(0,0,0, 0.2);
    padding: 20px 100px;
}
.nav-menu{
    display: contents;
    align-items:left;
    justify-content: center;
    width: 60%;
    font-family: 'Love Ya Like A Sister', cursive;
}
.nav-menu a{
    padding: 0px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.purform{
    width: 50%;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    padding: 10px 50px;
}

.kontenform{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

input, textarea, select{
    font-size: 16px;
    margin: 5px 0px;
    padding: 5px 5px;
    border-radius: 10px;
    width: 100%;
    text-align: center;

}

.btn{
    display: flex;
    justify-content: center;
    margin: 20px 0px 30px 0px;
}

.but{
    text-decoration: none;
    padding: 15px 20px;
    border: 6px solid #6BA5AF;
    border-radius: 20px;
    background: black;
    color: white;
    font-size: 1em;
    margin: 30px 0;

}
* Footer */

.address-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #eee;
    padding-top: 1.5rem;
    height: 240px;
}

.address-footer{
    display: flex;
    justify-content: center;
}

.address-name {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.address-info {
    width: 450px;
    text-align: center;
}

.address-address {
    font-size: 16px;
    margin-top: 15px;
}

.social-media-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.social-media-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
}

.social-media a {
    text-decoration: none;
    display: flex;
    color: black;
    align-items: center;
}

.social-media-logo {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

/* Copyright dan Privacy */

.copyright-privacy {
    
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    height: 54px;
    align-items: center;
}

.copyright {
    color: black;
    font-size: 20px;
}


.privacy {
    color: #36A3DA;
    font-size: 20px;
    padding-left: 10px;
}

